
<nav class="navbar navbar-dark bg-dark navbar-expand-lg2">
    <div style='font-size: 1.5rem'>
        <a class="navbar-brand" href="#">Github
            <img src='src/assets/images/GitHub-Mark-Light-32px.png' class="d-inline-block align-text-top"> Search
        </a>
    </div>
    <div class="Links"> 
        <form #userForm = 'ngForm'>
            <input type="text" class="form-control" placeholder="find user"  [(ngModel)]="user" name="username" 
                style="background-color: transparent; color: white;">
            <div class="input-group-append"> <span>
                <button class="btn btn-light " type="button" routerLink="/search" routerLinkActive="activeRoute"
                    (click)="findUser(); userForm.reset()">
                </button> </span>
            </div>
        </form>
    </div>
    &nbsp;
    <form #repoForm = 'ngForm'>
        <input type="text" class="form-control" placeholder="find repo" [(ngModel)]="repos" name="reponame" 
            style="background-color: transparent; color: white;">
        <div class="input-group-append">
            <button class="btn  btn-light" type="button"  routerLink="/search" routerLinkActive="activeRoute"
                (click)="fetchRepo(); repoForm.reset()" >
            </button>
        </div>
    </form>
</nav>


<div class="overlay">
    <div class="container-fluid">
        <br> <br>
        <div class="headline text-center">
            <div class="content">
                <div style='font-size:7rem;'>github<span>
                    <img width='83' alt='Angular Logo' src='src/assets/images/GitHub-Mark-Light-120px-plus.png' style="padding-bottom: 2%;"></span>search</div> <br> <br>
                <h1>Find your Github Profile!</h1>
                <h4>Find Github users and their Repositories.</h4>
            </div>
            <br>
        </div>
        <h2 class="text-center"> {{user.login}} </h2>
        <div class="media">
            <img [src]= "user.avatar_url" class='ratio img-responsive img-circle'>
            <div class="media-info">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="Profile Information">
                        <div class="tabContent profileInformation">
                            <p *ngIf="user.username"><span>Name:</span>$nbsp; {{user.username}}</p>
                            <p *ngIf="user.login"><span>Username:</span>&nbsp; {{user.login}} </p>
                            <p> <span>Followers:</span> &nbsp; {{user.followers }}</p>
                            <p> <span>Following:</span> &nbsp; {{user.following}} </p>
                            <p *ngIf="user.bio"><span>Bio:</span> {{user.bio}}  </p> 
                            <p *ngIf="user.created_at"><span>Created: </span> &nbsp; {{user.created_at | datecount }}</p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Repositories">
                        <div class="taContent Repositories">
                            <div class="card" *ngFor="let repo of repos ">
                                <div class="card-body">
                                    <div class="card-title">
                                        <a href= "{{ repo.html_url }}" appVistedrepo > {{repo.name | titlecase}} </a>     
                                    </div> 
                                    <p class="card-information" *ngIf="repo.description"> {{repo.description}} </p>
                                    <p class="card-information" *ngIf="!repo.description"> Nothing to see here. </p>
                                    <small> Previously updated on "{{repo.updated_at | date }}" </small>
                                    <div class="card-lower">
                                        <div *ngIf="repo.language"> {{repo.language}} </div> &nbsp;&nbsp;
                                        <div *ngIf="!repo.language"> notshared </div> &nbsp; &nbsp;
                                    </div>
                                    <i class="fa-solid fa-code-branch"></i>Forks: &nbsp; "{{repo.forks}}"                               
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>