.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-small-box {
height: 100px;
width: 100px;
}

.example-large-box {
height: 300px;
width: 300px;
}


#content {
    padding: 6%;
}

h2 {
    font-size: 2rem;
}

.tabcontent {
  align-items: center;
  justify-content: center;
}

.media img {
    max-width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 7.5rem;
}

.card {
    margin: 3%;
    width: 21rem;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

a:hover {
    text-decoration: underline; 
}

.card-header {
    padding: 0.5rem;
}

.card-bottom {
    display: flex;
}

.userInfo {
    margin: 4%;
    margin-left: 5%;
}

.userInfo span {
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.fas {
    font-size: 0.9rem;              
}